<div class="project-media">
	%%FEATUREDIMAGE size="vichax-author-project"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
	<div class="project-meta entry-meta">
		%%DATE%%
		%%AUTHOR%%
	</div>
</div>
